Package: com.moumen.onestate.mod
Name: One State - Moumen Mod Menu
Version: 2.0
Release: 1
Author: Moumen
Maintainer: Moumen
Section: Tweaks
Description: 
 One State Moumen Professional Mod Menu v2.0
